
h2, ion-select{
    margin-top: 20px;
    margin-left: 40px;
}
ion-card-text {
    justify-content: center;
}

[tag=CCDescription]{
    font-size: smaller;
    white-space: pre-line;
}

[tag=CCButton] {
    display: block;
    margin-left: 40px;
    max-width: 200px;
}

[tag=CCCard] {
    max-width: 50%;
    max-height: 800px;
    display:inline-grid;
    background: none;
    box-shadow: none;
}

[tag=CCImage] {
    max-width: 100%;
    max-height: 100%;
}

ion-card-header {
    max-height: 75px;
    justify-content: center;
    text-align: center;
}