h2 {
    margin-top: 20px;
    margin-left: 40px;
    color: rgb(184,108,2);
}

ion-card-text {
    justify-content: center;
}

[tag=CCDescription]{
    font-size: smaller;
    white-space: pre-line;
}

[tag=CCButton] {
    display: block;
    margin-left: 40px;
    max-width: 200px;
}

[tag=CCImage] {
    max-width: 100%;
    max-height: 100%;
}

ion-card-header {
    max-height: 75px;
    justify-content: center;
    text-align: center;
}