
h2, ion-select{
    margin-top: 20px;
    margin-left: 40px;
}
ion-card-text {
    justify-content: center;
}

[tag=CCStats] {
    margin-top: 5px;
    color: solid black;
    font-size: x-large;
}

[tag=CCDescription]{
    max-width: 500px;
    font-size: smaller;
    white-space: pre-line;
}

[tag=CCButton] {
    display: block;
    margin-left: 150px;
    max-width: 200px;
}

[tag=CCCard] {
    text-align: center;
    max-width: 500px;
    max-height: 700px;
    display:inline-grid;
    background: none;
    box-shadow: none;
}

[tag=CCImage] {
    max-width: 500px;
    max-height: 500px;
}

ion-card-header {
    max-height: 75px;
    justify-content: center;
    text-align: center;
}