h2, h3 {
    margin-top: 20px;
    justify-content: center;
    color: rgb(184,108,2);
    margin-left: 8px;
    margin-bottom: -5px;;
}
ion-item {
    --background: none;
    --color: orange;
    font-size: small;
    margin-top:0px;
}


ion-list {
    --inner-border-width: 0px;
    &.md.list-md.hydrated{
        background:none;
    }
}
ion-col {
    display: grid;
    justify-self: baseline;
    justify-content: left;
}

ion-note {
    margin-left: 11px;
}

ion-input {
    left: 25%;
    right: 25%;
    max-width: 125px;
    max-height: 25px;
    margin-left: 10px;
    border-bottom: 1px dashed black;
    font-size: medium;
    &.sc-ion-input-md-h{
        min-height: 30px;
        top: 7px;
    }
}
ion-button {
    text-transform: none;
    &#next{
        --color-activated: #f50cbf;
        --color: orange;
        position: absolute;
        bottom: 2%;
        right: 9%;
        --transition: forward;
        --background: none;
        --box-shadow: none;
    }
    &#back{
        --color-activated: #f50cbf;
        --color: orange;
        position: absolute;
        bottom: 2%;
        left: 9%;
        --background: none;
        --box-shadow: none;
    }
    &#savename {
        --color-activated: #f50cbf;
        --color: orange;
        position: relative;
    --background: none;
    }
    &#saveCC {
        --color-activated: #f50cbf;
        --color: orange;
        --size: large;
        position: absolute;
        bottom: 2%;
        right: 25%;
        left:25%;
        --background: none;
        --box-shadow: none;
    }   
    &#newCharacterButton {
        --color: orange;
        --background:none;
        --box-shadow: none;
        margin-right: 10px;
    }
    &#editCharacterButton {
        --color: orange;
        --background: none;
        --box-shadow: none;
        margin-right: 5px;
    }
}
ion-card-text {
    justify-content: center;
}

ion-card-header {
    max-height: 75px;
    justify-content: center;
    text-align: center;
}

[tag=CCStats] {
    margin-top: 5px;
    color: solid black;
    font-size: x-large;
}

[tag=CCDescription]{
    max-width: 500px;
    font-size: smaller;
    white-space: pre-line;
}

[tag=CCButton] {
    display: block;
    margin-left: 150px;
    max-width: 200px;
}

[tag=CCImage] {
    max-width: 500px;
    max-height: 500px;
}

[tag=saveCC] {

}

