<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Character creation    
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="startCharacterCreation()">New Character</ion-button>
      <ion-icon name="diamond"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container [ngSwitch]="currentStep">

    <!-- Menu -->

    <!-- Class Selection -->
    <ng-container *ngSwitchCase="'class'">
      <h2>Select Class</h2>

      <ion-select (ionChange)="onClassChange($event)" [(ngModel)]="selectedClass">
        <ion-select-option *ngFor="let class of classKeys" [value]="class">
          {{ class }}
        </ion-select-option>
      </ion-select>

      <ion-card tag="CCCard" *ngIf="selectedClass">
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{char_name}}</ion-card-title>
        </ion-card-header>
        <ion-img tag ="CCImage" [src]="selectedClassData[char_name].src"></ion-img>
        <ion-card-content>
          <ion-card-title></ion-card-title>
          <ion-card-text tag="CCDescription">{{currentClassText}}</ion-card-text>
        </ion-card-content>
      </ion-card>

      <ion-button tag="CCButton" (click)="goToRace()">Next</ion-button>
    </ng-container>

    <!-- Race Selection -->
    <ng-container *ngSwitchCase="'race'">
      <h2>Select Race</h2>

      <ion-select (ionChange)="onRaceChange($event)" [(ngModel)]="selectedRace" style="max-width: 400px;">
        <ion-select-option *ngFor="let race of raceNames" [value]="race">
          {{ race }}
        </ion-select-option>
      </ion-select>

      <ion-card tag="CCCard" *ngIf="selectedRace">
        <ion-card-header>
          <ion-card-title>{{race_name}}</ion-card-title>
        </ion-card-header>
        <ion-img style.max-height="200px" tag ="CCImage" [src]="selectedRaceData[race_name].src"></ion-img>
        <ion-card-content>
          <ion-card-title></ion-card-title>
          <ion-card-text tag="CCDescription">{{currentRaceText}}</ion-card-text>
        </ion-card-content>
      </ion-card>
      <ion-button tag="CCButton" (click)="startCharacterCreation()">Back to Class </ion-button>
      <ion-button tag="CCButton" (click)="goToBackground()">Choose Background</ion-button>
    </ng-container>

    <!-- Background -->
    <ng-container *ngSwitchCase="'backgrounds'">
      <h2>Select your background</h2>
      <ion-select (ionChange)="onBackgroundChange($event)" [(ngModel)]="selectedBackground" style="max-width: 400px;">
        <ion-select-option *ngFor="let background of backgroundNames" [value]="background">
          {{background}}
        </ion-select-option>
      </ion-select>

      <ion-card tag="CCCard" *ngIf="selectedBackground">
        <ion-card-header>
          <ion-card-title>{{background_name}}</ion-card-title>
        </ion-card-header>
        <ion-img style.max-height="200px" tag ="CCImage" [src]="selectedBackgroundData[background_name].src"></ion-img>
        <ion-card-content>
          <ion-card-title></ion-card-title>
          <ion-card-text tag="CCDescription">{{currentBackgroundText}}</ion-card-text>
          <ion-note><br><br>Choose which stat gets +2</ion-note>
          <ion-select (ionChange)="onbgStatChange($event)" [(ngModel)]="selectedFirstBgStat">
            <ion-select-option *ngFor="let ability of bgAbilitiesChoices" [value]="ability"> {{ability}}</ion-select-option>
          </ion-select>
          <ion-select (ionChange)="onSecondBgStatChange($event)" [(ngModel)]="selectedSecondBgStat" *ngIf="selectedFirstBgStat">
            <ion-select-option *ngFor="let remainingability of bgAbilitiesChoicesRemaining" [value]="remainingability">{{remainingability}}</ion-select-option>
          </ion-select>
        </ion-card-content>
      </ion-card>
      <ion-button tag="CCButton" (click)="goToRace()">Back to Race </ion-button>
      <ion-button tag="CCButton" (click)="goToStats()">Next</ion-button>
    </ng-container>

    <!-- Ability Scores -->
    <ng-container *ngSwitchCase="'stats'">
      <h2>Ability Scores</h2>

      <ion-note>
        Points remaining: {{ totalPoints - usedPoints() }}
      </ion-note>

      <ion-grid>
        <ion-row *ngFor="let stat of stats" class="ion-align-items-center">
          
          <ion-col size="4">
            <ion-label>{{ stat.name }}</ion-label>
          </ion-col>

          <ion-col size="2">
            <ion-button
              size="small"
              fill="outline"
              (click)="decrease(stat)"
              [disabled]="!canDecrease(stat)">
              −
            </ion-button>
          </ion-col>

          <ion-col size="2" class="ion-text-center">
            <strong>{{ stat.value }} {{ }}</strong>
          </ion-col>

          <ion-col size="2">
            <ion-button
              size="small"
              fill="outline"
              (click)="increase(stat)"
              [disabled]="!canIncrease(stat)">
              +
            </ion-button>
          </ion-col>

          <ion-col size="2">
            <ion-note>
              {{ pointCost(stat.value) }} pts
            </ion-note>
          </ion-col>

        </ion-row>
      </ion-grid>
    <ion-button tag="CCButton" (click)="goToBackground()">Back to Background </ion-button>
    <ion-button tag="CCButton" (click)="onStatsFinal()">Finalize Stats</ion-button>
    </ng-container>
    <!-- Summary -->
    <ng-container *ngSwitchCase="'summary'">
      <h2>Your Character:</h2>
      <ion-grid>
        <ion-row *ngFor="let entry of character | keyvalue" class="ion-align-items-center">
          <ion-col *ngIf="entry.key !== 'stats'" size="2">
            <ion-label>{{entry.key}}:</ion-label>
          </ion-col>
          <ion-col *ngIf="entry.key !== 'stats'" size="4">
            <ion-label>{{entry.value}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container>
      <div *ngSwitchCase="'summary'">
        <ul tag="CCStats"> <strong>Stats:</strong> 
          <li tag="CCStats" *ngFor="let stat of character.stats">{{ stat.name }}: {{ stat.value }}</li>
        </ul>
      </div>
    </ng-container>
