<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 18px;">
      {{changeTitle()}}    
    </ion-title>
    <ion-buttons slot="end">
    <ion-button size="large" id="editCharacterButton" (click)="toggleLoadCharacterView()">
      <ion-icon slot="icon-only" src='assets/buttons/load.svg'></ion-icon>
    </ion-button>
    <ion-button size="large" id="editCharacterButton" (click)="goToName()">
      <ion-icon slot="icon-only" src="assets/buttons/editcharacter.svg"></ion-icon>
    </ion-button>
    <ion-button size="large" id="deleteCharacterButton" (click)="toggleLoadCharacterView()">
      <ion-icon slot="icon-only" src="assets/buttons/deletecharacter.svg"></ion-icon>
    </ion-button>
      <ion-button size="large" id="newCharacterButton" fill="clear" (click)="startCharacterCreation()">
        <ion-icon slot="icon-only" src='assets/buttons/newcharacter.svg'></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Menu -->
  <ng-container [ngSwitch]="currentStep">
    @if (loadCharacterView) {
    <ng-container *ngSwitchCase="'menu'">
      <ion-card tag='CCCard'>
        <ion-img tag='CCImage' [src]="classData[character.class].src"></ion-img>
        <ion-card-content tag="CCDescription">
         Name: {{character.name}} <br> Class: {{character.class}} <br> Level: {{ character.level}} <br> Background: {{character.background}}
        </ion-card-content>
      </ion-card>
    </ng-container>}
    <!-- Load Character Screen -->   
    <ng-container *ngSwitchCase="'load'">
    
      <ion-list *ngFor="let char of characters">
        <ion-item>
          <ion-label>{{ char.name }}</ion-label>
          <ion-button size="large" fill="clear" id="savename" (click)="loadCharacter(char.id)" (click)="goToMenu()">
            <ion-icon slot="icon-only" src="assets/buttons/load.svg"></ion-icon>
          </ion-button>
          <ion-button size="large" fill="clear" id="present-alert">
            <ion-icon slot="icon-only" src="assets/buttons/deletecharacter.svg"></ion-icon>
            <ion-alert 
            trigger="present-alert" 
            header="Are you sure you want to delete [char.name]?" 
            message="This cannot be undone" 
            [buttons]="alertButtons"
            (didDismiss)="setResult($event, char.id)"></ion-alert>
          </ion-button>
        </ion-item>
      </ion-list>
    </ng-container>
    <!-- Name Selection -->
    <ng-container *ngSwitchCase="'name'">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-input #nameInput style="width: 200px; font-size:small; text-align: center;" placeholder="Enter character name"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-button fill="clear" id="savename" (click)="onNameChange(nameInput)">
                <ion-icon slot="icon-only" src='assets/buttons/savecharacter.svg'></ion-icon>
             </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-note style="align-content: center; margin-left: 40%; width: 110px ;">Select your level:</ion-note>
          </ion-col>
          <ion-col size="6">
            <ion-select [(ngModel)]="selectedLevel" (ionChange)="onLevelChange($event)">
              <ion-select-option style="width: 50%;" *ngFor="let num of [].constructor(20); let i = index"> 
              {{ i + 1 }}
              </ion-select-option>
            </ion-select>
          </ion-col> 
        </ion-row>
      </ion-grid>
      

      <ion-button id="next" (click)="goToClass()">
        <ion-icon slot="icon-only" src='assets/buttons/next.svg'></ion-icon>
      </ion-button>
    </ng-container>

    <!-- Class Selection -->
    <ng-container *ngSwitchCase="'class'">
      <ion-select [(ngModel)]="selectedClass" (ionChange)="onClassChange($event)" placeholder="Select Class">
        <ion-select-option *ngFor="let cls of classKeys" [value]="cls">
          {{ cls }}
        </ion-select-option>
      </ion-select>

      <ion-card tag='CCCard' *ngIf="selectedClass">
        <ion-img tag='CCImage' [src]="classData[selectedClass].src"></ion-img>
        <ion-card-content tag="CCDescription">
          {{ classText[classIndex] }}
        </ion-card-content>
      </ion-card>

      <ion-card tag='CCCard' *ngIf="character.class && !selectedClass">
        <ion-img tag='CCImage' [src]="classData[character.class].src"></ion-img>
        <ion-card-content tag="CCDescription">
          {{ classText[classIndexArray[character.class]] }}
        </ion-card-content>
      </ion-card>

      <ion-button id="back" fill="clear" (click)="goToName()">
        <ion-icon  slot="icon-only" src='assets/buttons/back.svg'></ion-icon>
      </ion-button>
      <ion-button id="next" (click)="goToRace()">
        <ion-icon slot="icon-only" src='assets/buttons/next.svg'></ion-icon>
      </ion-button>
    </ng-container>

    <!-- Spells Selection -->
     <ng-container *ngSwitchCase="spells">

      
     </ng-container>


    <!-- Race Selection -->
    <ng-container *ngSwitchCase="'race'">
      <ion-select [(ngModel)]="selectedRace" (ionChange)="onRaceChange($event)">
        <ion-select-option *ngFor="let race of raceNames" [value]="race">
          {{ race }}
        </ion-select-option>
      </ion-select>

      <ion-card *ngIf="selectedRace">
        <ion-img [src]="raceData[selectedRace].src"></ion-img>
        <ion-card-content>
          {{ raceText[raceIndex] }}
        </ion-card-content>
      </ion-card>

      <ion-card tag='CCCard' *ngIf="character.race && !selectedRace">
        <ion-img tag='CCImage' [src]="raceData[character.race].src"></ion-img>
        <ion-card-content tag="CCDescription">
          {{ raceText[raceIndexArray[character.race]] }}
        </ion-card-content>
      </ion-card>

      <ion-button id="back" (click)="goToClass()">
        <ion-icon  slot="icon-only" src='assets/buttons/back.svg'></ion-icon>
      </ion-button>
      <ion-button id="next" (click)="goToBackground()">
        <ion-icon slot="icon-only" src='assets/buttons/next.svg'></ion-icon>
      </ion-button>
    </ng-container>

    <!-- Background -->
    <ng-container *ngSwitchCase="'backgrounds'">
    <ion-select [(ngModel)]="selectedBackground" (ionChange)="onBackgroundChange($event)">
      <ion-select-option *ngFor="let bg of backgroundNames" [value]="bg">
        {{ bg }}
      </ion-select-option>
    </ion-select>

    <ion-card *ngIf="selectedBackground">
      <ion-img [src]="backgroundData[selectedBackground].src"></ion-img>
      <ion-card-content>
        {{ backgroundText[backgroundIndex] }} <br><br> As {{aOrAn}} {{selectedBackground}} you are proficient with: {{backgroundProficiencies[backgroundIndex][0]}} and {{backgroundProficiencies[backgroundIndex][1]}} 
        <ion-note *ngIf="!selectedFirstBgStat" style="color: goldenrod;" class="ion-margin-top"><br><br>Choose +2 stat</ion-note>
        <ion-select [(ngModel)]="selectedFirstBgStat">
          <ion-select-option *ngFor="let stat of bgAbilityChoices[selectedBackground]" [value]="stat">
            {{ stat }}
          </ion-select-option>
        </ion-select>
          
        <ion-note style="color: goldenrod;" *ngIf="selectedFirstBgStat && !selectedSecondBgStat">Choose +1 stat</ion-note>
        <ion-select *ngIf="selectedFirstBgStat" [(ngModel)]="selectedSecondBgStat">
          <ion-select-option
            *ngFor="let stat of remainingBgStats"
            [value]="stat">
            {{ stat }}
          </ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="character.background && !selectedBackground">
      <ion-img [src]="backgroundData[character.background].src"></ion-img>
      <ion-card-content>
        {{ backgroundText[backgroundIndexArray[character.background]] }} <br><br> As {{aOrAn}} {{character.background}} you are proficient with: {{backgroundProficiencies[backgroundIndexArray[character.background]][0]}} and {{backgroundProficiencies[backgroundIndexArray[character.background]][1]}}
      </ion-card-content>
    </ion-card>
    
    <ion-button id="back" (click)="goToRace()">
      <ion-icon slot="icon-only" src='assets/buttons/back.svg'></ion-icon>
    </ion-button>
    <ion-button id="next" (click)="goToStats()">
      <ion-icon slot="icon-only" src='assets/buttons/next.svg'></ion-icon>
    </ion-button>
  </ng-container>

  <ng-container *ngSwitchCase="'stats'">
    <h2>Ability Scores</h2>

    <ion-note>
      Points remaining: {{ totalPoints - usedPoints() }}
    </ion-note>

    <ion-grid>
      <ion-row style="color: goldenrod;" *ngFor="let stat of character.stats">
        <ion-col size="4">{{ stat.name }}</ion-col>

        <ion-col size="2">
          <ion-button size="small" (click)="decrease(stat)" [disabled]="!canDecrease(stat)">−</ion-button>
        </ion-col>

        <ion-col size="2" class="ion-text-center">
          {{ stat.value }}
        </ion-col>

        <ion-col size="2">
          <ion-button size="small" (click)="increase(stat)" [disabled]="!canIncrease(stat)">+</ion-button>
        </ion-col>

        <ion-col size="2">
          {{ pointCost(stat.value) }} pts
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button id="back" (click)="goToBackground()">
      <ion-icon slot="icon-only" src='assets/buttons/back.svg'></ion-icon>
    </ion-button>
    <ion-button id="next" (click)="finalizeStats()">
      <ion-icon slot="icon-only" src='assets/buttons/next.svg'></ion-icon>
    </ion-button>
  </ng-container>



  <ng-container *ngSwitchCase="'summary'">
    <ion-list>
      <ion-item style="max-height: 35px;">
        <ion-label>Name</ion-label>
        <ion-text>{{ character.name || '—' }}</ion-text>
      </ion-item>

      <ion-item style="max-height: 35px;">
        <ion-label>Class</ion-label>
        <ion-text>{{ character.class }}</ion-text>
      </ion-item>

      <ion-item style="max-height: 35px;">
        <ion-label>Race</ion-label>
        <ion-text>{{ character.race }}</ion-text>
      </ion-item>

      <ion-item style="max-height: 35px;">
        <ion-label>Background</ion-label>
        <ion-text>{{ character.background }}</ion-text>
      </ion-item>
    </ion-list>

    <h3>Stats</h3>
    <ion-list id="overview">
      <ion-item *ngFor="let stat of character.stats" style="max-height: 35px;">
        <ion-label>{{ stat.name }}</ion-label>
        <ion-text>{{ stat.value }}</ion-text>
      </ion-item>
    </ion-list>
    <ion-button size="large"  id="saveCC" (click)="save()">
      <ion-icon slot="icon-only" src='assets/buttons/savecharacter.svg'></ion-icon>
    </ion-button>
    <ion-button size="large" id="back" (click)="goToStats()">
      <ion-icon slot="icon-only" src='assets/buttons/back.svg'></ion-icon>
    </ion-button>
  </ng-container>
</ng-container>
