<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Character creation    
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="startCharacterCreation()">New Character</ion-button>
      <ion-icon name="diamond"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container [ngSwitch]="currentStep">

    <!-- Menu -->
    <ng-container *ngSwitchCase="'menu'">
      <!-- Empty or menu content here -->
    </ng-container>

    <!-- Class Selection -->
    <ng-container *ngSwitchCase="'class'">
    <h2>Select Class</h2>

      <ion-select [(ngModel)]="selectedClass" (ionChange)="onClassChange($event)">
        <ion-select-option *ngFor="let cls of classKeys" [value]="cls">
          {{ cls }}
        </ion-select-option>
      </ion-select>

      <ion-card tag='CCCard' *ngIf="selectedClass">
        <ion-img tag='CCImage' [src]="classData[selectedClass].src"></ion-img>
        <ion-card-content tag="CCDescription">
          {{ classText[classIndex] }}
        </ion-card-content>
      </ion-card>

      <ion-button (click)="goToRace()">Next</ion-button>
    </ng-container>


    <!-- Race Selection -->
    <ng-container *ngSwitchCase="'race'">
      <h2>Select Race</h2>

      <ion-select [(ngModel)]="selectedRace" (ionChange)="onRaceChange($event)">
        <ion-select-option *ngFor="let race of raceNames" [value]="race">
          {{ race }}
        </ion-select-option>
      </ion-select>

      <ion-card *ngIf="selectedRace">
        <ion-img [src]="raceData[selectedRace].src"></ion-img>
        <ion-card-content>
          {{ raceText[raceIndex] }}
        </ion-card-content>
      </ion-card>

      <ion-button (click)="goToClass()">Back</ion-button>
      <ion-button (click)="goToBackground()">Next</ion-button>
    </ng-container>

    <!-- Background -->
    <ng-container *ngSwitchCase="'backgrounds'">
    <h2>Select Background</h2>

    <ion-select [(ngModel)]="selectedBackground" (ionChange)="onBackgroundChange($event)">
      <ion-select-option *ngFor="let bg of backgroundNames" [value]="bg">
        {{ bg }}
      </ion-select-option>
    </ion-select>

    <ion-card *ngIf="selectedBackground">
      <ion-img [src]="backgroundData[selectedBackground].src"></ion-img>
      <ion-card-content>
        {{ backgroundText[backgroundIndex] }}
        <ion-note style="color: goldenrod;" class="ion-margin-top"><br><br>Choose +2 stat</ion-note>
        <ion-select [(ngModel)]="selectedFirstBgStat">
          <ion-select-option *ngFor="let stat of bgAbilityChoices[selectedBackground]" [value]="stat">
            {{ stat }}
          </ion-select-option>
        </ion-select>

        <ion-note style="color: goldenrod;" *ngIf="selectedFirstBgStat">Choose +1 stat</ion-note>
        <ion-select *ngIf="selectedFirstBgStat" [(ngModel)]="selectedSecondBgStat">
          <ion-select-option
            *ngFor="let stat of remainingBgStats"
            [value]="stat">
            {{ stat }}
          </ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>

    <ion-button (click)="goToRace()">Back</ion-button>
    <ion-button (click)="goToStats()">Next</ion-button>
  </ng-container>

  <ng-container *ngSwitchCase="'stats'">
    <h2>Ability Scores</h2>

    <ion-note>
      Points remaining: {{ totalPoints - usedPoints() }}
    </ion-note>

    <ion-grid>
      <ion-row style="color: goldenrod;" *ngFor="let stat of character.stats">
        <ion-col size="4">{{ stat.name }}</ion-col>

        <ion-col size="2">
          <ion-button size="small" (click)="decrease(stat)" [disabled]="!canDecrease(stat)">−</ion-button>
        </ion-col>

        <ion-col size="2" class="ion-text-center">
          {{ stat.value }}
        </ion-col>

        <ion-col size="2">
          <ion-button size="small" (click)="increase(stat)" [disabled]="!canIncrease(stat)">+</ion-button>
        </ion-col>

        <ion-col size="2">
          {{ pointCost(stat.value) }} pts
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="goToBackground()">Back</ion-button>
    <ion-button (click)="finalizeStats()">Next</ion-button>
  </ng-container>



  <ng-container *ngSwitchCase="'summary'">
    <h2>Your Character</h2>

    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-text>{{ character.name || '—' }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Class</ion-label>
        <ion-text>{{ character.class }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Race</ion-label>
        <ion-text>{{ character.race }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Background</ion-label>
        <ion-text>{{ character.background }}</ion-text>
      </ion-item>
    </ion-list>

    <h3>Stats</h3>
    <ion-list>
      <ion-item *ngFor="let stat of character.stats">
        <ion-label>{{ stat.name }}</ion-label>
        <ion-text>{{ stat.value }}</ion-text>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-container>
