#menubar {
    display: inline-flex;
    gap: 1px;

}

ion-select {
    border: 1px solid goldenrod;
    min-width: fit-content;
    max-width: 20px;
    padding-left: 2px;
    font-size: x-small;
}

ion-grid {
    --ion-grid-columns: 6;
    --ion-grid-padding: 0;
}

ion-title {
    position:static;
    color:orange;
    width: 250px;
}
#title {
    display: inline-flex;
}

ion-row {
  position: relative;
}

ion-col {
    align-self: center;
}

ion-button {
        text-align: center;
        &#dice{
            --border-color: goldenrod;
            border: 1px solid goldenrod;
        }
        &#char{
            --background: orange;
            color: black;
            font-weight: 700;
        }
        &#Strength-2{
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_Flaws.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        } &#Dexterity-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsD.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        } &#Constitution-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsC.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }&#Intelligence-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsI.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }&#Wisdom-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsW.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }&#Charisma-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsCH.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }
}
li {
    display: inline-table;
    width: 380x;
    &#Intelligence, #Wisdom, #Charisma, #Dexterity, #Strength{
        display: list-item;
        position: relative;
        grid-column: 1;
        top:10%;
        padding-bottom: 4px;
    }
}

.hidden {
  display: none;
}

ul {
    display:inline-flexbox;
    position: relative;
    width: fit-content;
    grid-column: 2;
    &#ulskill {
        display: grid;
        position: relative;
        grid-column: 0;
    }
}
p {
    color: goldenrod;
    text-align: center;
    display: inline-flexbox;
}

div {
    display: grid;
    position: relative;
    width: 380px;
    height: 200px;
    &#statmod{
        display: grid;
        position: relative;
        grid-row-start: auto;
        justify-content: center;
        height: 100px;
        width: 170px;
        padding: 5px;
    }
    &#skills {
        display: grid;
        position: relative;
        left: 200px;
        bottom: 210px;
        grid-column-start: span;
        --background: orange;
        width: 170px;
        height:195px;
        }
    &#statblock {
        border: 2px solid black;
    }

}
[tag=rollResult] {
    --ion-column-padding: 4px;
    border: 1px dotted goldenrod;    
}
