<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons id="menubar" slot="end">
    <ion-button tag="menuButton" (click)="openUaDnd()">5e tools</ion-button>
    <ion-button tag="menuButton" (click)="openMenu()">Unearthed Arcana</ion-button>
    <ion-button tag="menuButton" (click)="openClassGuide()">Class</ion-button>
    <ion-button tag="menuButton" (click)="toggleDice()">Dice Roller</ion-button>
    <ion-button tag="menuButton" (click)="goToLoad()">Load character</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    <ion-title size="small">Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button id="char" expand="full" (click)="toggleCharView()">Character Overview</ion-button>
  @if (showCharOverview) {
  @for (stat of character.stats; let i = $index; track i) {
      <ion-card>
        <ion-img id='statImage' [src]="statData[character.stats[i].name].src">
        </ion-img>
        <ion-label id=score style="position: absolute;">{{character.stats[i]['value']}}</ion-label>
        <ion-label id=mod style="position: absolute;">{{character.stats[i]['modifier']}}</ion-label>
        <ion-card-content>
          @for (skill of character.stats[i].skills; let x = $index; track x) {
            @if (skill.isProficient) {
              <li style="list-style-type: disc;" id=statname>{{ skill.name }}<span id="statmodifier"> ({{showPlus(skill.name, i, x)}}{{skill.modifier}})</span></li>
            }
            @if (!skill.isProficient) {
            <li style="list-style-type: circle;" id=statname>{{ skill.name }}<span id="statmodifier"> ({{showPlus(skill.name, i, x)}}{{skill.modifier}})</span></li>
          } 
          }
        </ion-card-content>
      </ion-card> 
  }
  } 
  @if (showDiceList){
    <ion-grid>
      <ion-row >
        <ion-col size="1">    
            <ion-button fill="clear" id="dice" (click)="rollDice(20)">
              <ion-icon style="color:goldenrod" slot="icon-only" src="assets/dice/D20.svg" ></ion-icon>
            </ion-button>
        </ion-col>
          <ion-col tag="rollResult" *ngFor="let roll of diceResult[20]; let i = index" size="1">
            <p tag="rollResult">Roll:</p>
            <p tag="rollResult">{{ diceResult[20][i]}}</p>
          </ion-col>
        <ion-col size="1">
          <ion-select class="D20" (ionChange)="onDiceAmountChange($event)">
            <ion-select-option *ngFor="let item of [].constructor(4); let i = index">{{i+1}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="1">    
            <ion-button  fill="clear" id="dice" (click)="rollDice(12)">
              <ion-icon style="color:goldenrod" slot="icon-only" src="assets/dice/D12.svg" ></ion-icon>
            </ion-button>
        </ion-col>
          <ion-col size="1" tag="rollResult" *ngFor="let roll of diceResult[12]; let i = index" size="1">
            <p tag="rollResult">Roll:</p>
            <p tag="rollResult">{{ diceResult[12][i]}}</p>
          </ion-col>
        <ion-col size="1">
          <ion-select class="D12" (ionChange)="onDiceAmountChange($event)">
            <ion-select-option *ngFor="let item of [].constructor(4); let i = index">{{i+1}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="1">    
            <ion-button  fill="clear" id="dice" (click)="rollDice(10)">
              <ion-icon style="color:goldenrod" slot="icon-only" src="assets/dice/D10.svg" ></ion-icon>
            </ion-button>
        </ion-col>
          <ion-col size="1" tag="rollResult" *ngFor="let roll of diceResult[10]; let i = index" size="1">
            <p tag="rollResult">Roll:</p>
            <p tag="rollResult">{{ diceResult[10][i]}}</p>
          </ion-col>
        <ion-col size="1">
          <ion-select class="D10" (ionChange)="onDiceAmountChange($event)">
            <ion-select-option *ngFor="let item of [].constructor(4); let i = index">{{i+1}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="1">    
            <ion-button  fill="clear" id="dice" (click)="rollDice(8)">
              <ion-icon style="color:goldenrod" slot="icon-only" src="assets/dice/D8.svg" ></ion-icon>
            </ion-button>
        </ion-col>
          <ion-col size="1" tag="rollResult" *ngFor="let roll of diceResult[8]; let i = index" size="1">
            <p tag="rollResult">Roll:</p>
            <p tag="rollResult">{{ diceResult[8][i]}}</p>
          </ion-col>
        <ion-col size="1">
          <ion-select class="D8" (ionChange)="onDiceAmountChange($event)">
            <ion-select-option *ngFor="let item of [].constructor(4); let i = index">{{i+1}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="1">    
            <ion-button  fill="clear" id="dice" (click)="rollDice(6)">
              <ion-icon style="color:goldenrod" slot="icon-only" src="assets/dice/D6.svg" ></ion-icon>
            </ion-button>
        </ion-col>
          <ion-col  size="1" tag="rollResult" *ngFor="let roll of diceResult[6]; let i = index" size="1">
            <p tag="rollResult">Roll:</p>
            <p tag="rollResult">{{ diceResult[6][i]}}</p>
          </ion-col>
        <ion-col size="1">
          <ion-select class="D6" (ionChange)="onDiceAmountChange($event)">
            <ion-select-option *ngFor="let item of [].constructor(4); let i = index">{{i+1}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="1">    
            <ion-button  fill="clear" id="dice" (click)="rollDice(4)">
              <ion-icon style="color:goldenrod" slot="icon-only" src="assets/dice/D4.svg" ></ion-icon>
            </ion-button>
        </ion-col>
          <ion-col size="1" tag="rollResult" *ngFor="let roll of diceResult[4]; let i = index" size="1">
            <p tag="rollResult">Roll:</p>
            <p tag="rollResult">{{ diceResult[4][i]}}</p>
          </ion-col>
        <ion-col size="1">
          <ion-select class="D4" (ionChange)="onDiceAmountChange($event)">
            <ion-select-option *ngFor="let item of [].constructor(4); let i = index">{{i+1}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
</ion-content>
