ion-card {
    max-height: 100px;
    width: 350px;
    height: 90px;
    display: flex;
    
}

ion-img {
    width: 25%;
    height: 90px;
}
ion-card-content {
    display: grid;
    align-content: center;
    justify-content: baseline;
    left: 30px;
    width: 250px;
    height: 100px;
    padding-top: 0px;
    padding: 0px;
}

ion-select {
    border: 1px solid goldenrod;
    min-width: fit-content;
    max-width: 20px;
    padding-left: 2px;
    font-size: x-small;
}

ion-grid {
    --ion-grid-columns: 6;
    --ion-grid-padding: 0;
}

ion-title {
    position:static;
    color:orange;
    width: 250px;
}

ion-label {
    display: grid;
        &#score{
            height: 87.5px;
            width: 90px;
            justify-content: center;
            align-content: center;
            left: -1px;
            top: -1px;
            font-size: x-large;
            color: black;
        }
        &#mod{
            width: 90px;
            align-content: center;
            justify-content: center;
            left: -1px;
            top: 63px;
            font-size: large;
            color: rgb(3, 3, 1);

        }
}

ion-row {
  position: relative;
}

ion-col {
    align-self: center;
}

ion-button {
        text-align: center;
        &#dice{
            --border-color: goldenrod;
            border: 1px solid goldenrod;
        }
        &#char{
            --background: orange;
            color: black;
            font-weight: 700;
            min-height: 10px;
        }
}

#statmodifier {
    color: goldenrod;
    position: fixed;
    left: 250px;
}

li {
    display: list-item;
    &#Intelligence, &#Wisdom, &#Charisma, &#Dexterity, &#Strength, &#Constitution{
        display:grid;
        padding-bottom: 4px;
        font-size: x-small;
    }
}

p {
    color: goldenrod;
    text-align: center;
    display: inline-flexbox;
}

[tag=rollResult] {
    --ion-column-padding: 2px;
}
[tag=menuButton] {
    max-width: 50px;
    font-size: 6px;
    font-weight: 700;
    
}
