#menubar {
    display: inline-flex;
    justify-content: center;
    position: relative;
    gap: 40px;

}
ion-title {
    position:static;
    color:orange;
    width: 250px;
}
#title {
    display: inline-flex;
}


ion-button {
        text-align: center;
        &#char{
            --background: orange;
            color: black;
            font-weight: 700;
        }
        &#dice{
            --background: orange;
            color: black;
            
        }
        &#Strength-2{
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_Flaws.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        } &#Dexterity-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsD.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        } &#Constitution-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsC.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }&#Intelligence-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsI.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }&#Wisdom-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsW.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }&#Charisma-2 {
            background-image: url('/assets/icon/29._Traits_Ideals_Bonds_and_FlawsCH.png');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            color: black;
            width: 150px;
            height: 175px;
        }
}
li {
    display: inline-table;
    width: 380x;
    &#Intelligence, #Wisdom, #Charisma, #Dexterity, #Strength{
        display: list-item;
        position: relative;
        grid-column: 1;
        top:10%;
        padding-bottom: 4px;
    }
}

.hidden {
  display: none;
}
ion-grid {
    --ion-grid-columns: 6;
    --ion-grid-column-padding: 10px;
    --ion-grid-padding: 20px;
}
ul {
    display:inline-flexbox;
    position: relative;
    width: fit-content;
    grid-column: 2;
    &#ulskill {
        display: grid;
        position: relative;
        grid-column: 0;
    }
}
p {
    margin-left: 7px;
}

div {
    display: grid;
    position: relative;
    width: 380px;
    height: 200px;
    &#statmod{
        display: grid;
        position: relative;
        grid-row-start: auto;
        justify-content: center;
        height: 100px;
        width: 170px;
        padding: 5px;
    }
    &#skills {
        display: grid;
        position: relative;
        left: 200px;
        bottom: 210px;
        grid-column-start: span;
        --background: orange;
        width: 170px;
        height:195px;
        }
    &#statblock {
        border: 2px solid black;
    }
}
