ion-col {
    --min-height: 10px;
}

ion-row {
    padding: 2px;
    width: 450px;
}

ion-col {
    &#fullList{
        position: relative;
        top: 20px;
        font-size: 9px;
        padding: 2px;
        color: goldenrod;
    }
    &#results{
        min-height: 15px;
        position: relative;
        font-size: 8px;
        font-size: 12px;
        padding: 0;
        color:goldenrod;
    }
    &#concentration{
        font-size: 10px;
    }
    &#name {
        background-color: rgb(16, 14, 14);
        border-bottom: 1px solid #65541b;
        position: fixed;
        font-size: 10px;
    }
    &#level {
        background-color: rgb(16, 14, 14);
        border-bottom: 1px solid #65541b;
        position: fixed;
        left: 30%;
        font-size: 10px;
    }
    &#school {
        background-color: rgb(16, 14, 14);
        border-bottom: 1px solid #65541b;
        position: fixed;
        left: 44%;
        font-size: 10px;
    }
    &#concentration {
        background-color: rgb(16, 14, 14);
        border-bottom: 1px solid #65541b;
        position: fixed;
        right: -1%;
        font-size: 10px;
        text-align: center;
    }
}

.ion-col-indented {
  background:
    linear-gradient(
      to right,
      transparent 16px,
      var(--ion-color-dark) 16px
    )
    bottom / 220% 1px no-repeat;
}

ion-searchbar {
    font-weight: 900;
}

ion-list {
    display: inline-grid;
    padding: 0;
}
ion-input {
    height: 37px;
}