.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Sticky header */
.table-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ion-background-color-step-300);
}

/* Scroll container */
.table-body {
  overflow-y: auto;
  flex: 1;
  position: relative;
  top: 2px;
}
ion-grid {
    padding-inline-start: 0;
}


ion-col {
    --min-height: 10px;
}

ion-row {
    width: 450px;
    justify-content: left;
    
    }

ion-col {
    &#fullList{
        margin-bottom: 2px;
        position: relative;
        font-size: 9px;
        color: var(--ion-text-color);
    }
    &#concentration{
        font-size: 10px;
    }
    &#name{
        left: 15px;
        position: relative;
    }
    &#level {
        left: 15px;
        position: relative;
}
    &#school {
        left: 15px;
        position: relative;
    }
    &#concentration {
        position: relative;
        left: 15px;
    }
}


ion-button {
    &#name {
        --background: var(--ion-background-color-step-700);
        font-size: 5px;
        --color: var(--ion-text-color-step-900)
    }
    &#level {
        --background: var(--ion-background-color-step-700);
        --color: var(--ion-text-color-step-900);
        font-size: 5px;
    }
    &#school {
        --background: var(--ion-background-color-step-700);
        --color: var(--ion-text-color-step-900);
        font-size: 5px;
    }
    &#concentration {
        font-size: 5px;
        --color: var(--ion-text-color-step-900);
        --background: var(--ion-background-color-step-700);
    }
    &#addSpell {
        font-size: 4px;
        --background: none;
        --box-shadow: none;
        --color: var(--ion-text-color);
        min-height: 1px;
        min-width: 1px;
    }
    &#saveButton {
        --background: var(--ion-background-color-step-500);
        width: 50px;
        font-size: 6px;
    }
    &#loadButton {
        --background: var(--ion-background-color-step-500);
        width: 50px;
        font-size: 6px;
    }
}

.ion-col-indented {
  background:
    linear-gradient(
      to right,
      transparent 16px,
      var(--ion-color-dark) 16px
    )
    bottom / 220% 1px no-repeat;
}

ion-searchbar {
    font-weight: 900;
}

ion-list {
    display: inline-grid;
    padding: 0;
}
ion-input {
    height: 37px;
}