/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
:root {
  --app-background: #191a1a;
}

ion-content {
  --background: var(--app-background);
}

ion-toolbar {
  --background: rgb(13, 13, 13);
  --color: rgb(253, 152, 2);
}

ion-tab-bar {
  --background: rgb(13,13,13);
  --color: rgb(253, 152, 2);
}

ion-card {
  --display: flex;
  --color: rgb(184, 108, 2);
  --color-selected: rgb(253, 152, 2);
  --background: #191a1a;
  box-shadow: none;
}

ion-alert .alert-wrapper.sc-ion-alert-md {
  --background: #191a1a;
  --color: rgb(184, 108, 2);
}

ion-alert .alert-radio-label.sc-ion-alert-md {
  color: rgb(184, 108, 2);
}
ion-alert [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
  color: rgb(253, 152, 2);
}

.select-label-placement-start{
  color: rgb(253, 152, 2);
}
.card-content-md {
  line-height: 1.1;
}
.md.hydrated {
  line-height: 1.1;
}

ion-button:not(#dice) {
  --color: rgb(0, 0, 0);
  --background: goldenrod;
}
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
